# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.xml             text
*.scml            text
*.caproj          text
*.json            text
*.scon            text

# Documentation
*.md              text diff=markdown
*.txt             text

# Graphics
*.jpg             binary
*.jpeg            binary
*.png             binary
# SVG treated as an asset (binary) by default.
*.svg             text
# If you want to treat it as binary,
# use the following line instead.
# *.svg           binary

# Audio
*.m4a             binary
*.ogg             binary

# Video
*.mp4             binary
*.ogv             binary
*.webm            binary

# Fonts
*.woff            binary

# Archives
*.zip             binary

# Ignore files
*.*ignore         text
